* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 15px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #eee;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
.gallery img {
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.03);
}


/* SEE ALL */
.see-all {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 12px;
}
/* ABOUT OVERLAY */
.about-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.about-content {
    background: #fff;
    color: #000;
    padding: 40px;
    max-width: 600px;
    border-radius: 12px;
    width: 90%;
    text-align: center;
    position: relative;
    animation: fadeUp 0.4s ease;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    background: none;
        border: none;
    cursor: pointer;
}

/* animation */
@keyframes fadeUp {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

/* LIGHTBOX */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

/* HIDDEN */
.hidden {
    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .gallery {
    grid-template-columns: repeat(2, 1fr);
    }
}
